.item {
    display: flex;
    align-items: center;

}

img {
    width: 30px;
    height: 30px;
    margin: 0px 14px 0px 8px;
}

.type-level, .sugar-level {
    display: flex;
    align-items: center;

}

input {
    margin: 0px 7px 0px 13px;
}

.dots {
    margin-left: 3px;
}

p {
    font-weight: 600;
}